.icono {
    display: inline-flex;
}

.content {
    background-color: #eceff1;
}

.metas {
    margin: 1%;
    background-color: white;
}
form {
    margin-top: 5%;
}
.boton-guardar {
    width: 100%;
    margin-top: 5%;
}
.error-message-meta {
    color: red;
    display: none;
}

.ingresos {
    margin: 1%;
    background-color: white;
}

.egresos {
    margin: 1%;
    background-color: white;
}